
.course-grid {
  lost-center: 100%;

padding-top: 30px;
text-align: center;

  &__grid-item{
    position: relative;

    lost-column: 1/1;

    background-color: white;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    box-shadow: 1px 1px 9px rgba(150, 150, 150, 0.10);

    @mixin atSmall {
      lost-column: 1/2;

    }
    @mixin atMedium {
      lost-column: 1/4;

    }



    &--center {
      display: inline-block !important;
      float: none;
      margin-bottom: 15px;

    }


    &__img{
      display: block;

    }
    &__title {
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 0;

      @mixin atSmaller {
        height: auto !important;
      }
    }

    .desc-wrap {
      lost-center: 100%;

    }
    &__description {
      display: block;
      lost-column: 1/1;

      font-size: 12px;
      font-weight: 300;
      text-align: center;

      @mixin atSmaller {
        height: auto !important;
      }
    }

    &__starting-from {
      display: block;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
    }

    &__price {
      display: block;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      color:$priceColor;
    }

  }


  &__grid-item__inner {
    width: 100%;
    height: 100%;



  }


.prices-wrapper {
  min-height: 90px;

  .prices-inner {
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0;

  }

}

}


